@font-face {
    font-family: 'CustomFont'; /* Choose a name for your font family */
    src: url('ChopinScript.ttf') format('truetype'); /* Specify the font file path and format */
}

body {
    margin: 0;
    padding: 0;
    background: no-repeat center center fixed;
    /* background-size: auto 100%; */
    /* background-image: url("engagementPhoto.png"); */
    background-image: url("bg1.png"), url("engagementPhoto.png"), url("bg2.png");
    background-size: auto 100%, auto 100%, auto 100%;
    background-position: left top, center top, right top;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute the images evenly */
    background-color: #e6e2e8;
    /* font-family: 'Brush Script MT', 'Brush Script Std', cursive; */
    text-align: center;
}

.content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(135, 206, 235, 0.7); Slate blue background with some transparency */
    padding: 30px;
    border-radius: 10px;
}

.title {
    color: #000000; /* White text color */
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'CustomFont', sans-serif;
}

.section {
    color: #000000;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.date {
    color: #000000;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'CustomFont', sans-serif;
}

.countdown {
    color: #000000; /* White text color for the countdown timer */
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.info {
    color: #000000;
    font-size: 18px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF; /* White background for buttons */
    color: #5f5454;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #5f5454;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #b8cfb8; /* Hover background color */
    color: #FFFFFF; /* Hover text color */
}
